# Basics

## load a csv from the following url:

#### https://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/

In [5]:
# A good practice is to keep your import statements to the top of your
# notebooks

import pandas as pd

In [6]:
# One thing you should begin practicing early is commenting your code!

# Another good practice is to use descriptive variable names

url = "https://archive.ics.uci.edu/ml/machine-learning-databases/abalone/abalone.data"


df = pd.read_csv(url)

In [7]:
# now print the first 5 rows of the data you just loaded
df.head()

   M  0.455  0.365  0.095   0.514  0.2245   0.101   0.15  15
0  M  0.350  0.265  0.090  0.2255  0.0995  0.0485  0.070   7
1  F  0.530  0.420  0.135  0.6770  0.2565  0.1415  0.210   9
2  M  0.440  0.365  0.125  0.5160  0.2155  0.1140  0.155  10
3  I  0.330  0.255  0.080  0.2050  0.0895  0.0395  0.055   7
4  I  0.425  0.300  0.095  0.3515  0.1410  0.0775  0.120   8

In [8]:
# and the last 7
df.tail(7)

      M  0.455  0.365  0.095   0.514  0.2245   0.101    0.15  15
4169  M  0.550  0.430  0.130  0.8395  0.3155  0.1955  0.2405  10
4170  M  0.560  0.430  0.155  0.8675  0.4000  0.1720  0.2290   8
4171  F  0.565  0.450  0.165  0.8870  0.3700  0.2390  0.2490  11
4172  M  0.590  0.440  0.135  0.9660  0.4390  0.2145  0.2605  10
4173  M  0.600  0.475  0.205  1.1760  0.5255  0.2875  0.3080   9
4174  F  0.625  0.485  0.150  1.0945  0.5310  0.2610  0.2960  10
4175  M  0.710  0.555  0.195  1.9485  0.9455  0.3765  0.4950  12

In [9]:
# how many rows are in the dataset?
len(df)

4176

In [10]:
# how many columns
len(df.columns)

9

In [11]:
# what is the shape of the dataset
df.shape

(4176, 9)

### From the data directory load the iris dataset

In [17]:

column_headers = [
    "sepal-length", "sepal-width", "petal-length", "petal_width", "class"
]

df = pd.read_csv("data/iris.data", names=column_headers)

# and print out the first 5 rows
df.head()

   sepal-length  sepal-width  petal-length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [18]:
df

     sepal-length  sepal-width  petal-length  petal_width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]